.App {
  text-align: center;
  margin-block-start: 50px;
}
.display{
  /* border: 1px solid black; */
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 50px;
}
.display >div>  h1{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.display >div>  h1 > span{
  text-align: left;
}
.checkbox{
  margin-left: 50px;
}
.display >div>  button {
  margin-bottom: 10px;
}
.singleDiv{
  border-bottom: 1px solid black;
  margin-block-start: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}




